- provide :title, @user.name.capitalize
= stylesheet_link_tag 'projects', media: 'all'
%p.h2
  Your Projects
-if @user.admin?
  .container
    .row.center
      = form_for(Project.new, :html => {:class => "form-inline"}) do |f|
        .form-group
          =f.text_field :name, class: 'form-control', placeholder: "name", style: "margin-bottom: 0px"
        .form-group
          %button.btn.btn-default{type:"submit"}+Create New

        .form-group
          = hidden_field_tag "project[user_id]", @user.id

%div
  -if @projects.empty?
    .well.well-lg
      %span
        %strong
          You doesn't have any project yet.
  -else
    %ul.projects
      -@projects.each do |p|
        %p
          %strong
            #{p.name}
        =render p
