- provide :title, @user.name.capitalize
.row
  %aside.col-md-4
    %section.user_info
      %h1
        = gravatar_for @user
        = @user.name.capitalize
%iframe.container{src: "http://localhost:8888/notebooks/SOMCNN.ipynb", height: "400px"}
