- provide :title, @project.name
%div.abs-right-bottom-btn
  %form{enctype: "multipart/form-data"}
    %input.file{name: "upload", type: "file", hidden: true, style: "display: none"}
    %button.upload-button.btn.btn-info{type: "button"}
      %span.glyphicon.glyphicon-th-large
%iframe.full#pif{name: "pif", src: edit_url(@project), frameborder: "no", onload: "removeHeader(this);"}