- provide :title, @project.name
.row
  %a.btn.btn-primary{href: edit_project_path(@project)}
    Edit
%div
  %iframe.full{ src: "#{view_for @project}", frameborder: "no", scrolling: "no"}
  -# %iframe{src: "http://www.baidu.com"}